section{
  width: 80vw;
  margin: 8rem auto;
  padding: 2rem;
}

@media(max-width:73em){
  section{
    width: 95vw;
    margin: 8rem auto;
    padding: 2rem;
  }
  
}

@media(max-width:59em){
  section{
    width: 95vw;
    margin: 6rem auto;
    padding: 2rem;
  }
}


@media(max-width:27em){
  section{
    width: 95vw;
    margin: 4rem auto;
    padding: 1rem;
  }
}